data/raw/
data/processed/
*.csv
*.hwp
*.pdf
*.png

data/ocr/prescriptions/output/
data/ocr/prescriptions/output_png/
data/ocr/prescriptions/output_aug/
data/ocr/prescriptions/output_ocr/

rag/documents/
rag/embeddings/

models/
__pycache__/
*.pkl
*.joblib

venv/
.env
.env.development
.env.production
.DS_Store