# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
backend/**/*.ipynb
backend/*.ipynb

# 가상환경
venv/
env/

# IDE
.idea/
.vscode/
*.iml

# 민감 정보
.env
.env.development
.env.production
firebase_key.json
*.pem
*.key
backend/data/guidelines/

# 로그
*.log

# OS
.DS_Store
Thumbs.db

# 프론트엔드
frontend/node_modules/
frontend/.vite/frontend/node_modules/
frontend/.vite/

test/*

# Chroma DB
backend/data/chroma_db/
backend/ml_data/chroma_db/
data/chroma_db/